langchain 
langchain-ibm 
langchain-community 
ibm-watsonx-ai 
langchain-huggingface
huggingface_hub
chromadb
tiktoken 
bs4 
torch 
torchvision 
torchaudio
accelerate
transformers
sentence-transformers
unstructured
unstructured-client
python-dotenv